// VARIABLES //

$font: 'Mukta Malar', sans-serif;
$heading: 'Open Sans Condensed', sans-serif;

$txt-r: 16px;
$txt-m: 20px;
$txt-l: 30px;
$txt-xl: 65px;

$black: #000;
$white: #fff;
$grey-txt: #414141;
$grey: #b6b6b6;
$blue: #2e6184;
$blue-mid: #4c6e84;
$blue-dark: #43647c;
$blue-light: #598db2;


// MIXINS //

@mixin breakpoint($point, $value: 0) {
	@if $point == desktop {
		@media (min-width: 769px) { @content; }
	}
}

// ANIMATIONS //

@keyframes banner-bar {
    from {width: 80%;}
    to {width: 100%;}
}

@keyframes banner-txt {
    from {color: transparent;}
    to {color: $white;}
}