header {
	top: 0;
	z-index: 1;
	position: fixed;
	height: 40px;
	width: 100%;
	background: $blue;
	background: linear-gradient($blue-dark, $blue-light);

	@include breakpoint(desktop) {
		height: 82px;
	}

	.wrapper {
		width: 100%;
		min-height: calc(100% - 10px);
		max-width: 1400px;
		margin: 0 auto;
		overflow: auto;
		padding-top: 10px;
		background: url('../images/profuels-logo.png') no-repeat center 5px;
		background-size: auto 30px;

		@include breakpoint(desktop) {
			background-size: auto 60px;
		}
	}
}

.burger-menu {
	width: 22px;
	float: right;
	margin-right: 10px;
	border-top: 3px solid $white;
	border-bottom: 3px solid $white;

	&:before {
		content: '';
		display: block;
		height: 3px;
		background: $white;
		margin: 5px 0;
	}

	@include breakpoint(desktop) {
		display: none;
	}
}

.wrapper-menu {
	display: none;
	margin-top: 30px;
	padding: 20px 0;
	background: $blue-light;

	@include breakpoint(desktop) {
		padding: 0;
		display: flex;
		margin-top: 15px;
		background: transparent;
		justify-content: space-between;
	}

	.menu-header {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			display: block;
			text-align: center;
			border-radius: 5px;
			margin-top: 0;
			background-color: transparent;
			transition: background-color 0.1s linear, margin-top 0.1s linear;

			@include breakpoint(desktop) {
				display: inline-block;
				vertical-align: top;
			}

			&:hover {
				background-color: $blue-dark;
				margin-top: 3px;
			}
		}

		a {
			color: $white;
			line-height: 36px;
			padding: 0 15px;
		}

		.home-btn {
			height: 35px;

			a {
				width: 35px;
				height: 35px;
				overflow: hidden;
				text-indent: 60px;
				margin-bottom: -13px;
				display: inline-block;
				background-image: url('../images/menu-home.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;				
			}
		}
	}
}
