.distribucion {
	max-width: 700px;
}


.contacto {
	justify-content: left;

	div {
		flex-basis: initial;
		flex-grow: initial;
	}
}

.contacto-forma {
	margin: 20px 0;
	overflow: auto;
	@include breakpoint(desktop) {
		width: 50%;
		padding-right: 100px;
	}

	h4 {
		margin-top: 0;
	}

	input, textarea {
		border: 0;
		background: #d6d6d6;
		padding: 5px;
		width: calc(100% - 10px);
		margin-bottom: 8px;
		font-size: $txt-r;
		font-family: $font;
	}

	.btn-enviar {
		float: right;
		width: auto;
		background: $blue;
		color: $white;
		font-family: $heading;
		font-size: $txt-r;
	}
}

.contacto-side {
	margin: 30px 0;
	@include breakpoint(desktop) {
		width: 25%;
	}

	.social-link {
		padding-right: 20px;
		transition: color 0.2s linear;

		&:hover {
			color: $blue;
		}
	}
}